{% extends "base.html" %} {% block page_content %}
<div>
    <h1>{{ post.title }}</h1>

    <div class="col-md-8 centered-div">
        <h2>{{post.subtitle}}</h2>
    </div>

    <div class="raised-container">
        <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small> {% if 'null' not in post.cover.url %}
        <div class="centered-div"><img src="{{post.cover.url}}"></div> {% endif %}

        <h3>{{post.header1}}</h3>
        <p>{{ post.body1 | linebreaks }}</p>
        {% if 'null' not in post.image1.url %}
        <div><img src="{{post.image1.url}}"></div> {% endif %}
        <h3>{{post.header2}}</h3>
        <p>{{ post.body2 | linebreaks }}</p>
        {% if 'null' not in post.image2.url %}
        <div><img src="{{post.image2.url}}"></div> {% endif %}
        <h3>{{post.header3}}</h3>
        <p>{{ post.body3 | linebreaks }}</p>
        {% if 'null' not in post.image3.url %}
        <div><img src="{{post.image3.url}}"></div> {% endif %}
        <h3>{{post.header4}}</h3>
        <p>{{ post.body4 | linebreaks }}</p>
        {% if 'null' not in post.image4.url %}
        <div><img src="{{post.image4.url}}"></div> {% endif %}
        <p class="image-credits">{{post.image_credits}}</p>
    </div>

    <h3>Leave a comment:</h3>
    <form action="/blog/{{ post.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <div class="raised-container">
        <p>
            On {{comment.created_on.date }}&nbsp;
            <b>{{ comment.author }}</b> wrote:
        </p>
        <p>{{ comment.body }}</p>
    </div>
    <hr> {% endfor %}
</div>

{% endblock %}

<!--TODO: clear form after submission-->