{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Supervised Learning</h1>
    <hr>
    <h3>Regression Problems</h3>
    <ul>
        <li style="font-weight: bold;">Linear Regression</li>
        <ul>
            <li>Finding the line of best fit</li>
        </ul>
    </ul>
    <h3>Classification Problems</h3>
    <ul>
        <li style="font-weight: bold;">Logistic Regression</li>
        <li style="font-weight: bold;">Support Vector Machines (SVM)</li>
    </ul>
</div>
{% endblock %}
