{% extends "base.html" %} {% block page_content %}
<div>
    <h1 class='col-md-8'>Curriculum Vitae</h1>
    <div class="float-left" style="width: 60%;">
        <div class="raised-container">
            <h4>Personal Details</h4>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>&nbsp;&nbsp;</td>
                    <td>Cameron Simpson-Allsop</td>
                </tr>
                <tr>
                    <td>Occupation:</td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td>Software Engineer</td>
                </tr>
            </table>
        </div>
        <div class="raised-container">
            <h4>About me</h4>
            <div>
                As a scientist turned software engineer, I am a fast learner, intrigued by the world around me. In addition, I am passionate about sharing my knowledge with others and using my skills to further benefit humanity. So far in my career, I have become adept
                in the use of C\# and .Net, from everything to command line applications to websites. As well as this, and to fulfil roles ranging from secure logins to machine learning and data science, I have developed a multitude of serverless applications
                with Amazon Web Services. During my spare time, I enjoy developing algorithmic stock trading robots, applying statistical analysis and machine learning to horse races, and blogging.
            </div>
        </div>
        <div class="raised-container">
            <h4>Skills</h4>
            <div>.Net</div>
            <progress class="skill-bar" value="9" max="10"></progress>
            <div>Physics & Maths</div>
            <progress class="skill-bar" value="9" max="10"></progress>
            <div>Python</div>
            <progress class="skill-bar" value="9" max="10"></progress>
            <div>Machine Learning</div>
            <progress class="skill-bar" value="8" max="10"></progress>
            <div>Amazon Web Services</div>
            <progress class="skill-bar" value="8" max="10"></progress>
            <div>SQL</div>
            <progress class="skill-bar" value="8" max="10"></progress>
            <div>HTML & CSS</div>
            <progress class="skill-bar" value="7" max="10"></progress>
            <div>JavaScript</div>
            <progress class="skill-bar" value="6" max="10"></progress>
            <div>C++</div>
            <progress class="skill-bar" value="6" max="10"></progress>
        </div>
    </div>

    <div class="raised-container float-left">
        <div>Float Column 2</div>
    </div>

</div>

{% endblock %}